.env

__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyc

venv/
.venv/

.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

build/
dist/
*.egg-info/
pip-wheel-metadata/

.DS_Store
Thumbs.db
.idea/
.vscode/

.python-version
