html,
body,
#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
@font-face {
  font-family: lexand;
  src: url('/Fonts/Lexend-Thin.ttf') format('truetype');
}

html {
  font-family: lexand, sans-serif;
  font-weight: 100;
}

.info-box {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 8;
  background: #000000d8;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  width: 30%;
  max-height: calc(100% - 16px);
  overflow: hidden;
}
.info-box img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.info-box .details {
  padding: 12px;
  color: #ffffff;
}
.info-box .details h2 {
  margin: 0 0 4px 0;
  font-size: 18px;
  color: #ffffff;
}
.info-box .details .rating {
  font-size: 14px;
  margin-bottom: 8px;
  color: #ffffff;
}
.info-box .details p,
.info-box .details a {
  margin: 4px 0;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  overflow: wrap;
}
.info-box .directions-btn {
  display: grid;
  width: 100%;
  align-self: center;
  padding: 8px 0;
  background: #4285f4;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}
.turn-box {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  display: none;
  max-width: 200px;
}
.turn-box .arrow {
  font-size: 20px;
  margin-right: 8px;
  vertical-align: middle;
}
#controls {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: #000000;
  padding: 4px;
  display: flex;
  border-radius: 10px;
  color:#fff;
}
#dest {
  width: 260px;
  padding: 4px;
  font-size: 14px;
  border-radius: 30px;
  border-width: 0;
}
#go {
  margin-left: 6px;
  padding: 4px 10px;
  border: 0px;
  background: #4285f4;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  border-radius: 30px;
}
#results {
  position: absolute;
  padding-top: 8px;
  top: 31px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  width: 320px;
  max-height: 240px;
  overflow: auto;
  background: #000000;
  color:#fff;
  border: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
  font-size: 14px;
}
#results::-webkit-scrollbar {
  display: none;
}

.res {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.res:last-child {
  border-bottom: none;
}
.res:hover {
  background: #f0f0f0;
}
.fab {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}
#recenter {
  bottom: 20px;
  right: 20px;
}
#rotate {
  bottom: 20px;
  right: 74px;
}
.fab, #recenter, #rotate {
  display: none !important;
}
